__pycache__/loger.cpython-39.pyc
__pycache__/sports.cpython-39.pyc
football_league/__pycache__/main.cpython-39.pyc
shop/__pycache__/cart.cpython-39.pyc
football_league/__pycache__/match.cpython-39.pyc
football_league/__pycache__/team.cpython-39.pyc
